@font-face {
    font-family: love;
    src: url(./PearlBorder-z8OoL.ttf);
}

@font-face {
    font-family: love2;
    src: url(./LoveHurtRegular-drGG7.ttf);
}

@font-face {
    font-family: master;
    src: url(./ZeroMasterDemo-5yPAL.otf);
}

@font-face {
    font-family: neumachina;
    src: url(./NeueMachina-Light_gwWCZxVuQl.ttf);
}

@font-face {
    font-family: monster;
    src: url(./MeltedMonster-ARPLA.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url(./download\ \(1\).jpeg);
    background-size: cover;
    background-position: center;
    text-align: right;
    padding: 20px;
}

/* h1{
    padding: 10px;
    font-family: monster;
    color: #CACDC6;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
    -webkit-text-stroke: 1px black; 
} */

p{
    /* width: 50% ; */
    margin-left: 51%;
    /* text-align: right; */
    padding: 16px;
    font-weight: 600;
    color: #1c1c1c;
    padding: 10px;
    font-size: 10px;
    font-family:  neumachina;
}

button{
    font-weight: 700;
    text-shadow: 3px 3px 5px rgba(0,0,0,1);
    /* -webkit-text-stroke: 0.1px black;  */
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 20px;
    /* border: none; */
    color: #1f1f1f;
    background-color: #7a7a7a;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15%;
    border: 1px solid rgba(0, 0, 0, 0.442);
}

/* h1{
    font-size: 50px;
    font-weight: 900;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Ffree-photos%2Frainbow-colors&psig=AOvVaw0xURFrz48gAckFjLvcELeN&ust=1759392650386000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCMDizsPGgpADFQAAAAAdAAAAABAE);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
} */

h1 {
    font-size: 50px;
    font-weight: 900;
    background-image: url(https://www.color-hex.com/palettes/7415.png);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}